/* .video-container {
    position: absolute;
    opacity: .70;
    z-index: -1;
} */

body {
    background-image: url(../images/stripes.png);
    font-family: 'Noto Serif', serif;
    margin: 0 auto;
    height: 70%;
    width: 90%;

}

h1{
    font-family: 'Playfair Display SC', serif;
}

.container-fluid {
    width: 90%;
    width: 95%;
    position: relative;
    background-color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 5px 5px rgb(201, 200, 200);
    border: 10px;
}

.image {
    background-color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 0px;
}

#icon-image1 {
    height: 90px;
    width: 90px;
}

#icon-image2 {
    height: 90px;
    width: 90px;
}

#icon-image3 {
    height: 90px;
    width: 90px;
    margin-top: 50px;
}

#icon-row {
    margin: 0 auto;
    text-align: center;
}

#icon-row2{
    margin: 0 auto;
    text-align: center;
}

#profile-image {
    height: 90%;
    width: 75%;
    position: relative;
    border: 1px;
    border-style: solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#camp-dad-div {
    position: relative;
    margin: 0 auto;
    text-align: center;
}

#beard-div {
    position: relative;
    margin: 0 auto;
    text-align: center;
}

p {
    font-family: 'Noto Serif', serif;
}

#github {
    font-size: 15px;
}
#contact {
    font-family: 'Noto Serif', serif;
    font-size: 15px; 
    margin-bottom: 10px; 
}
