/* .video-container {
    position: absolute;
    opacity: .70;
    z-index: -1;
    display: block;
} */

body {
    background-image: url(../images/pink-dust.png);
}

.container {
    background-color:white;
    margin-top: 50px;
    padding: 20px;
}
.image:hover {
    background-color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 0px;
}

#icon-image1 {
    height: 80px;
    width: 80px;
}

#icon-image2 {
    height: 80px;
    width: 80px;
}

#icon-row {
    margin: 0 auto;
    text-align: center;
}

#profile-image {
    height: 95%;
    width: 75%;
    position: relative;
}

#camp-dad-div {
    position: relative;
    margin: 0 auto;
    text-align: center;
}

#beard-div {
    position: relative;
    margin: 0 auto;
    text-align: center;
}



/* .name-row {
    text-align: center;
    margin: 0 auto;
} */